extends layout

block content
  .container
    .col-md-6.col-md-offset-3
       
  
        div
           ul#list 

        div: form(method='post', class='form-vertical')
        fieldset

            
            input.form-control(type='text', name='ca', value=cartProducts)
            input.form-control(type='hidden', name='cart', value=cartProducts)


            div.form-actions
            input.btn.btn-primary(type='submit', value='Submit Quote')

        

        input#prdName(type='text', placeholder='enter name' )
        input#prdDescription(type='text', placeholder='enter desc')
        label Price
        input#prdPrice(type='number')
        label Quantity
        input#prdQuantity(type='number')
        button.btn.btn-primary(onclick='add_to_cart()') Add to Cart




