extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2= title

        .col-md-12
        h2 Statistics
        .col-md-3
         h3 Created
          div=user.stats.created
        .col-md-3
         h3 Assigned
          div=user.stats.assigned
        .col-md-3  
         h3 Completed
          a(href='/users/completedProjects) #{user.stats.completed}



        // sign in form
        div.form-group
          a.btn.btn-primary(href='/users/projects') List All Projects

        div.form-group
          a.btn.btn-danger(href='/users/newproject') Create New Project
        div.form-group
            a.btn.btn-info(href='/users/edit') Update Profile
        div.form-group
          a.btn.black-back(href='/auth/register') Update Profile
        div.form-group
            a.btn.btn-info(href='/auth/forgot') Recover Password
