<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<h1>Attention, everyone!</h1>
<p>This is a homepage.</p>
<a href="/auth/google/callback">Log In With Google</a> 
  </body>
</html>
