extends layout


block content
  h1= title
  p Welcome to #{title}


    p= user
    br
    a.btn.btn-info(href='/auth/logout') Logout;

    br
    a.btn.btn-primary(href='/auth/login') Login

    br
    a.btn.btn-danger(href='/users') Go To Protected Endpoint
