extends layout


block content
  h1= title
  p Welcome to #{title}


    if(user)
       p #{user.name}
       p img(src= user.picture)
       br
       a.btn.btn-info(href='/auth/logout') Logout;
    else
      br
      a.btn.btn-primary(href='/auth/login') Login

    br
    a.btn.btn-danger(href='/users') Dashboard
