extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2= title

        ul
          each val in projects
           li: a(href='/users/project/'+val._id) #{val.tittle}
           

        a.btn.btn-info(href='/users') dashboard
