extends layout

block content
  .container
    h1.display-4.m-b-2= title
    p.lead Say something worthwhile here.
    div: form(method='post', class='form-vertical')
        fieldset
         legend: strong.text-info Login page
          div.form-group
            label Username:
            input.form-control(name='username', value='', autofocus)

          div.form-group
            label Password:
            input.form-control(name='password', type='password')

          div.form-actions
            input.btn.btn-primary(type='submit', value='Login')
