extends layout

block content
  .container
    .col-md-6.col-md-offset-3
      h1.display-4.m-b-2= title

      div: form(method='post', class='form-vertical')
        fieldset

          div.form-group
            label Email:
            input.form-control(name='email', value='', autofocus)

          div.form-group
            label Password:
            input.form-control(name='password', type='password')

          div.form-actions
            input.btn.btn-primary(type='submit', value='Login')
     p=error
